// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// チェックボックスの変更
label {
    margin-right: 5px;
}
label input {
    display: none;
}
label span {
    color: #333;
    font-size: 14px;
    border: 1px solid #333;
    border-radius: 20px;
    padding: 5px 20px;
}
label input:checked + span {
    color: hsl(0, 0%, 48%);
    background: hsl(219, 70%, 96%);
    border: 1px solid #FBB;
}

.columns > div.column {
  text-align: center;
}

.block{
  text-align: center;
  &_m_auto {
    margin: 0 auto;
    width: 80%;
    @media screen and (max-width: 768px) {
      width: 400px;
    }
  }
}

.search_result {
  &_flex {
    display: flex;
  }

  &_title {
    width: 15%;
  }

  &_category_tag {
    display: flex;
    flex-wrap: wrap;
  }
}

.box {
  &.alert {
    text-align: center;
  }
}

.kasagura {
  &_category_tag {
    @media screen and (max-width: 468px){
      width: 50%;
    }
    width: 20%;
    text-align: right;
  }
}
